---

---

<div>
  <nav
    class="fixed z-1000 w-100% top-0px h-84px flex-between px-50px lg:px-100px"
  >
    <a href="/about">
      <img src="/logo.png" alt="" class="md:w-170px w-96px md:block hidden" />
      <img src="/sublogo.png" alt="" class="w-40px md:hidden" />
    </a>
    <div class="nav-container space-x-20px text-base hidden md:block">
      <a class="nav-link" href="/"> Home </a>
      <a class="nav-link" href="/about"> About us </a>
      <a class="nav-link" href="/gallery"> Gallery </a>
      <a class="nav-link" href="/contact"> Contact </a>
      <div class="hover-line"></div>
    </div>
    <div class="md:hidden visible">
      <button type="button" class="relative flex-center w-42px h-42px">
        <div class="menu"></div>
      </button>
    </div>
  </nav>
</div>
<style>
  .nav-container {
    position: relative;
  }
  .nav-link {
    position: relative;
    display: inline-block;
    padding: 10px;
  }
  .hover-line {
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #ff7733;
    bottom: 0;
    left: 0;
    transition:
      left 0.3s ease,
      width 0.3s ease;
  }
  nav {
    transition: background-color 0.3s ease;
  }
  .nav-link.active {
    font-weight: bold;
    color: #031f4b;
  }

  .nav-link.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: fill;
    background-color: #ff7733;
    bottom: 0;
    left: 0;
  }
  .scroll {
    background-color: white;
    transition: background-color 0.3s ease;
  }
  .menu.active {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/cancel.svg');
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/menu.svg');
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
</style>
<script>
  const navLinks = document.querySelectorAll('.nav-link');
  const hoverLine = document.querySelector('.hover-line') as HTMLElement;

  navLinks.forEach((link) => {
    link.addEventListener('mouseenter', () => {
      const linkRect = link.getBoundingClientRect();
      const containerRect = (
        link.parentElement as HTMLElement
      ).getBoundingClientRect();
      hoverLine.style.width = `${linkRect.width}px`;
      hoverLine.style.left = `${linkRect.left - containerRect.left - 18.5}px`;
    });

    link.addEventListener('mouseleave', () => {
      hoverLine.style.width = '0';
    });
  });

  const currentURL = window.location.href;

  navLinks.forEach((link) => {
    const anchor = link as HTMLAnchorElement;
    if (anchor.href === currentURL) {
      anchor.classList.add('active');
    }
  });

  const menuToggle = document.querySelector('.menu');
  const showcase = document.querySelector('.showcase');

  menuToggle.addEventListener('click', () => {
    menuToggle.classList.toggle('active');
    showcase.classList.toggle('active');
  });
  const nav = document.querySelector('nav');
  window.onscroll = function () {
    if (window.scrollY > 0) {
      nav.classList.add('scroll');
      nav.classList.add('shadow-sm');
    } else {
      nav.classList.remove('scroll');
      nav.classList.remove('shadow-sm');
    }
  };
</script>
